[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
asgiref = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
cryptography = "*"
defusedxml = "*"
idna = "*"
oauthlib = "*"
pycparser = "*"
pyjwt = "*"
python-dotenv = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
