{% load static %}
{% load crispy_forms_tags %}
{% comment %} {% crispy example_form example_form.helper %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
    <title>Жаңа тест қосу</title>
    <style>
      .preloader {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      /* фоновый цвет */
      background: #e0e0e0;
      z-index: 1001;
    }

    .preloader__image {
      position: relative;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      text-align: center;
      animation: preloader-rotate 2s infinite linear;
    }

    @keyframes preloader-rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    .loaded_hiding .preloader {
      transition: 0.3s opacity;
      opacity: 0;
    }

    .loaded .preloader {
      display: none;
    }
    </style>
</head>
<body id="top">
  <div class="preloader">
    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="currentColor"
        d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
      </path>
    </svg>
  </div>

  <div class="" style="background-image:url({% static 'img/education.png' %});background-size: 100% 100%;">
    <header id="header" class="hoc clear">
      <div id="logo" class="one_quarter first">
        <h1><a href="#" style="font-family: 'KZ Cooper';font-weight: bold;
          color: #00750D;
          text-shadow:
      -0   -2px 0   #FFFFFF,
       0   -2px 0   #FFFFFF,
      -0    2px 0   #FFFFFF,
       0    2px 0   #FFFFFF,
      -2px -0   0   #FFFFFF,
       2px -0   0   #FFFFFF,
      -2px  0   0   #FFFFFF,
       2px  0   0   #FFFFFF,
      -1px -2px 0   #FFFFFF,
       1px -2px 0   #FFFFFF,
      -1px  2px 0   #FFFFFF,
       1px  2px 0   #FFFFFF,
      -2px -1px 0   #FFFFFF,
       2px -1px 0   #FFFFFF,
      -2px  1px 0   #FFFFFF,
       2px  1px 0   #FFFFFF,
      -2px -2px 0   #FFFFFF,
       2px -2px 0   #FFFFFF,
      -2px  2px 0   #FFFFFF,
       2px  2px 0   #FFFFFF,
      -2px -2px 0   #FFFFFF,
       2px -2px 0   #FFFFFF,
      -2px  2px 0   #FFFFFF,
       2px  2px 0   #FFFFFF;">Мектепке </a></h1>
        <p style="font-family: 'KZ Cooper';font-weight: bold;
        color: #00750D;
        text-shadow:
        -0   -1px 0   #FFFFFF,
        0   -1px 0   #FFFFFF,
       -0    1px 0   #FFFFFF,
        0    1px 0   #FFFFFF,
       -1px -0   0   #FFFFFF,
        1px -0   0   #FFFFFF,
       -1px  0   0   #FFFFFF,
        1px  0   0   #FFFFFF,
       -1px -1px 0   #FFFFFF,
        1px -1px 0   #FFFFFF,
       -1px  1px 0   #FFFFFF,
        1px  1px 0   #FFFFFF,
       -1px -1px 0   #FFFFFF,
        1px -1px 0   #FFFFFF,
       -1px  1px 0   #FFFFFF,
        1px  1px 0   #FFFFFF;">дейінгі және дайындық курсы</p>
      </div>
      <div class="three_quarter">
        <ul class="nospace clear">
          <li class="one_third first">
            <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Қоңырау шалыңыз:</strong></span></div>
          </li>
          <li class="one_third">
            <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Хабарлама жолдаңыз:</strong> </span></div>
          </li>
          <li class="one_third">
            <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Дүйсенбі - Жұма:</strong> 08.00 - 18.00</span></div>
          </li>
        </ul>
      </div>

    </header>

    <section id="navwrapper" class="hoc clear">

      <nav id="mainav">
        <ul class="clear">
          <li class="active"><a href="{% url 'main_page' %}" style="font-family: 'KZ Cooper';font-weight: bold;
            color: #00750D;
            text-shadow:
            -0   -1px 0   #FFFFFF,
            0   -1px 0   #FFFFFF,
           -0    1px 0   #FFFFFF,
            0    1px 0   #FFFFFF,
           -1px -0   0   #FFFFFF,
            1px -0   0   #FFFFFF,
           -1px  0   0   #FFFFFF,
            1px  0   0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF;"><img src="{% static 'img/123.svg' %}" style="position:relative;"><br>Басты</a></li>
          <li><a class="drop" href="#"  style="font-family: 'KZ Cooper';font-weight: bold;
            color: #00750D;
            text-shadow:
            -0   -1px 0   #FFFFFF,
            0   -1px 0   #FFFFFF,
           -0    1px 0   #FFFFFF,
            0    1px 0   #FFFFFF,
           -1px -0   0   #FFFFFF,
            1px -0   0   #FFFFFF,
           -1px  0   0   #FFFFFF,
            1px  0   0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF;"><img src="{% static 'img/456.svg' %}" style="position:relative;"><br>Курстар</a>
            <ul>
              <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
                color: #00750D;
                text-shadow:
                -0   -1px 0   #FFFFFF,
                0   -1px 0   #FFFFFF,
               -0    1px 0   #FFFFFF,
                0    1px 0   #FFFFFF,
               -1px -0   0   #FFFFFF,
                1px -0   0   #FFFFFF,
               -1px  0   0   #FFFFFF,
                1px  0   0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">3 жас</a></li>
              <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
                color: #00750D;
                text-shadow:
                -0   -1px 0   #FFFFFF,
                0   -1px 0   #FFFFFF,
               -0    1px 0   #FFFFFF,
                0    1px 0   #FFFFFF,
               -1px -0   0   #FFFFFF,
                1px -0   0   #FFFFFF,
               -1px  0   0   #FFFFFF,
                1px  0   0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">4 жас</a></li>
              <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
                color: #00750D;
                text-shadow:
                -0   -1px 0   #FFFFFF,
                0   -1px 0   #FFFFFF,
               -0    1px 0   #FFFFFF,
                0    1px 0   #FFFFFF,
               -1px -0   0   #FFFFFF,
                1px -0   0   #FFFFFF,
               -1px  0   0   #FFFFFF,
                1px  0   0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">5 жас</a></li>
              <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
                color: #00750D;
                text-shadow:
                -0   -1px 0   #FFFFFF,
                0   -1px 0   #FFFFFF,
               -0    1px 0   #FFFFFF,
                0    1px 0   #FFFFFF,
               -1px -0   0   #FFFFFF,
                1px -0   0   #FFFFFF,
               -1px  0   0   #FFFFFF,
                1px  0   0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">6 жас</a></li>
              <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
                color: #00750D;
                text-shadow:
                -0   -1px 0   #FFFFFF,
                0   -1px 0   #FFFFFF,
               -0    1px 0   #FFFFFF,
                0    1px 0   #FFFFFF,
               -1px -0   0   #FFFFFF,
                1px -0   0   #FFFFFF,
               -1px  0   0   #FFFFFF,
                1px  0   0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">Қосымша</a></li>
              <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
                color: #00750D;
                text-shadow:
                -0   -1px 0   #FFFFFF,
                0   -1px 0   #FFFFFF,
               -0    1px 0   #FFFFFF,
                0    1px 0   #FFFFFF,
               -1px -0   0   #FFFFFF,
                1px -0   0   #FFFFFF,
               -1px  0   0   #FFFFFF,
                1px  0   0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">Жаңалықтар</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
            <li><a href="#" style="font-family: 'KZ Cooper';font-weight: bold;
              color: #00750D;
              text-shadow:
              -0   -1px 0   #FFFFFF,
              0   -1px 0   #FFFFFF,
             -0    1px 0   #FFFFFF,
              0    1px 0   #FFFFFF,
             -1px -0   0   #FFFFFF,
              1px -0   0   #FFFFFF,
             -1px  0   0   #FFFFFF,
              1px  0   0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF;"><img src="{% static 'img/1002.svg' %}" style="width:59px;height:59px;position:relative;"><br>Сәлем :{{ user.get_username }}</a></li>
            <li><a href="{% url 'logout'%}?next={{request.path}}" style="font-family: 'KZ Cooper';font-weight: bold;
              color: #00750D;
              text-shadow:
              -0   -1px 0   #FFFFFF,
              0   -1px 0   #FFFFFF,
             -0    1px 0   #FFFFFF,
              0    1px 0   #FFFFFF,
             -1px -0   0   #FFFFFF,
              1px -0   0   #FFFFFF,
             -1px  0   0   #FFFFFF,
              1px  0   0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF;"><img src="{% static 'img/1003.svg' %}" style="margin-left:35px;margin:5px;width:59px;height:49px;position:relative;"><br>Шығу</a></li>
            <li><a href="{% url 'addnew' %}" style="border: 2px solid green;font-family: 'KZ Cooper';font-weight: bold;
              color: #00750D;
              text-shadow:
              -0   -1px 0   #FFFFFF,
              0   -1px 0   #FFFFFF,
             -0    1px 0   #FFFFFF,
              0    1px 0   #FFFFFF,
             -1px -0   0   #FFFFFF,
              1px -0   0   #FFFFFF,
             -1px  0   0   #FFFFFF,
              1px  0   0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF;"><img src="{% static 'img/1004.svg' %}" style="margin:5px;width:59px;height:49px;position:relative;"><br>ЖАҢА КУРС</a></li>
          {% else %}
          <li><a href="{% url 'login' %}?next={{request.path}}" style="font-family: 'KZ Cooper';font-weight: bold;
            color: #00750D;
            text-shadow:
            -0   -1px 0   #FFFFFF,
            0   -1px 0   #FFFFFF,
           -0    1px 0   #FFFFFF,
            0    1px 0   #FFFFFF,
           -1px -0   0   #FFFFFF,
            1px -0   0   #FFFFFF,
           -1px  0   0   #FFFFFF,
            1px  0   0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF;"><img src="{% static 'img/789.svg' %}" style="position:relative;width:54px;height:54px;"><br>Кіру</a></li>
          <li><a href="{% url 'register' %}" style="font-family: 'KZ Cooper';font-weight: bold;
            color: #00750D;
            text-shadow:
            -0   -1px 0   #FFFFFF,
            0   -1px 0   #FFFFFF,
           -0    1px 0   #FFFFFF,
            0    1px 0   #FFFFFF,
           -1px -0   0   #FFFFFF,
            1px -0   0   #FFFFFF,
           -1px  0   0   #FFFFFF,
            1px  0   0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF;"><img src="{% static 'img/999.svg' %}" style="position:relative;"><br>Тіркелу</a></li>
          {% endif %}
        </ul>
      </nav>



    </section>
      <br><br>

      </div>
<div class="wrapper row3">
  <main class="hoc container clear">
      <div class="row">
      <div class="regform" style="background:url({% static 'img/13.jpg' %});margin-left:0px;background-size: 100% 100%;">
        <center><a href="{% url 'createtest' pk=company.pk %}"><button style="box-shadow: 3px 4px 0px 0px #3dc21b;
        background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
        background-color:#44c767;
        border-radius:15px;
        border:1px solid #18ab29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:'KZ Cooper';
        font-size:17px;
        padding:7px 25px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;"><img src="/static/img/1005.svg" style="width:39px;height:39px;">ЖАҢА ТЕСТ ҚОСУ<img src="/static/img/1005.svg" style="width:39px;height:39px;"></button></a>
        </center></div><br><hr>
        <style>
          #element {
            overflow-y: scroll;
            background-color: #ffffff;
            width: 50%;
            height: 500px;
          }

          .overflow {
            min-height: 400px;
          }
          #element::-webkit-scrollbar {
              width: 7px;
              background-color: #f9f9fd;
          }
        </style>
        <div id="element" ><div class="overflow">
        {% for test in tests %}
          <a href="{% url 'testdetail' pk=test.pk %}"><button style="box-shadow: 3px 4px 0px 0px #3dc21b;
        background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
        background-color:#44c767;
        border-radius:15px;
        border:1px solid #18ab29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:'KZ Cooper';
        font-size:17px;
        padding:7px 25px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;margin:15px;"><img src="/static/img/1005.svg" style="width:39px;height:39px;">{{test.title}}</button></a><br>
        {% endfor %}
        </div></div></div>
  </main>
</div>

</div>


<div class="wrapper row5" style="background:#e0e0e0;">
  <div id="copyright" class="hoc clear">

    <p class="fl_left">Copyright &copy; 2022 - Құқықтар сақталмаған</p>


  </div>
</div>

  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.backtotop.js' %}"></script>
    <script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
    <script>
      window.onload = function () {
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
          document.body.classList.add('loaded');
          document.body.classList.remove('loaded_hiding');
        }, 500);
      }
    </script>
</body>
</html>