{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Мектепке дейінгі және дайындық курстары</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/style1.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
<style>
  .preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
@font-face {
  font-family:'Cooper'; 
  src: url('Сooper.ttf'); 
 }
</style>
</head>
<body id="top" style="background:#ffffff;">
 
  <!--div class="preloader">
    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="currentColor"
        d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
      </path>
    </svg>
  </div-->
<div class="" style="background-color:#e1f6e7;background-size: 100% 100%;"> 
  <header id="header" class="hoc clear"> 
    <div id="logo" class="one_quarter first">
      <h1><a href="#" style="font-family: 'KZ Cooper';font-weight: bold;
        color: #00750D;
        text-shadow: 
		-0   -2px 0   #FFFFFF,
		 0   -2px 0   #FFFFFF,
		-0    2px 0   #FFFFFF,
		 0    2px 0   #FFFFFF,
		-2px -0   0   #FFFFFF,
		 2px -0   0   #FFFFFF,
		-2px  0   0   #FFFFFF,
		 2px  0   0   #FFFFFF,
		-1px -2px 0   #FFFFFF,
		 1px -2px 0   #FFFFFF,
		-1px  2px 0   #FFFFFF,
		 1px  2px 0   #FFFFFF,
		-2px -1px 0   #FFFFFF,
		 2px -1px 0   #FFFFFF,
		-2px  1px 0   #FFFFFF,
		 2px  1px 0   #FFFFFF,
		-2px -2px 0   #FFFFFF,
		 2px -2px 0   #FFFFFF,
		-2px  2px 0   #FFFFFF,
		 2px  2px 0   #FFFFFF,
		-2px -2px 0   #FFFFFF,
		 2px -2px 0   #FFFFFF,
		-2px  2px 0   #FFFFFF,
		 2px  2px 0   #FFFFFF;">Мектепке </a></h1>
      <p style="font-family: 'KZ Cooper';font-weight: bold;
      color: #00750D;
      text-shadow: 
      -0   -1px 0   #FFFFFF,
      0   -1px 0   #FFFFFF,
     -0    1px 0   #FFFFFF,
      0    1px 0   #FFFFFF,
     -1px -0   0   #FFFFFF,
      1px -0   0   #FFFFFF,
     -1px  0   0   #FFFFFF,
      1px  0   0   #FFFFFF,
     -1px -1px 0   #FFFFFF,
      1px -1px 0   #FFFFFF,
     -1px  1px 0   #FFFFFF,
      1px  1px 0   #FFFFFF,
     -1px -1px 0   #FFFFFF,
      1px -1px 0   #FFFFFF,
     -1px  1px 0   #FFFFFF,
      1px  1px 0   #FFFFFF;">дейінгі және дайындық курсы</p>
    </div>
    <div class="three_quarter">
      <ul class="nospace clear">
        <li class="one_third first">
          <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Қоңырау шалыңыз:</strong></span></div>
        </li>
        <li class="one_third">
          <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Хабарлама жолдаңыз:</strong> </span></div>
        </li>
        <li class="one_third">
          <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Дүйсенбі - Жұма:</strong> 08.00 - 18.00</span></div>
        </li>
      </ul>
    </div>
    
  </header>
 
  <section id="navwrapper" class="hoc clear"> 
    
    <nav id="mainav">
      <ul class="clear">
        <li class="active"><a href="{% url 'main_page' %}" style="font-family: 'KZ Cooper';font-weight: bold;
          color: #00750D;
          text-shadow: 
          -0   -1px 0   #FFFFFF,
          0   -1px 0   #FFFFFF,
         -0    1px 0   #FFFFFF,
          0    1px 0   #FFFFFF,
         -1px -0   0   #FFFFFF,
          1px -0   0   #FFFFFF,
         -1px  0   0   #FFFFFF,
          1px  0   0   #FFFFFF,
         -1px -1px 0   #FFFFFF,
          1px -1px 0   #FFFFFF,
         -1px  1px 0   #FFFFFF,
          1px  1px 0   #FFFFFF,
         -1px -1px 0   #FFFFFF,
          1px -1px 0   #FFFFFF,
         -1px  1px 0   #FFFFFF,
          1px  1px 0   #FFFFFF;"><img src="{% static 'img/123.svg' %}" style="position:relative;"><br>Басты</a></li>
        <li><a class="drop" href="#"  style="font-family: 'KZ Cooper';font-weight: bold;
          color: #00750D;
          text-shadow: 
          -0   -1px 0   #FFFFFF,
          0   -1px 0   #FFFFFF,
         -0    1px 0   #FFFFFF,
          0    1px 0   #FFFFFF,
         -1px -0   0   #FFFFFF,
          1px -0   0   #FFFFFF,
         -1px  0   0   #FFFFFF,
          1px  0   0   #FFFFFF,
         -1px -1px 0   #FFFFFF,
          1px -1px 0   #FFFFFF,
         -1px  1px 0   #FFFFFF,
          1px  1px 0   #FFFFFF,
         -1px -1px 0   #FFFFFF,
          1px -1px 0   #FFFFFF,
         -1px  1px 0   #FFFFFF,
          1px  1px 0   #FFFFFF;"><img src="{% static 'img/456.svg' %}" style="position:relative;"><br>Курстар</a>
          <ul>
            <li><a href="{% url 'ishop'%}" style="font-family: 'KZ Cooper';font-weight: bold;
              color: #00750D;
              text-shadow: 
              -0   -1px 0   #FFFFFF,
              0   -1px 0   #FFFFFF,
             -0    1px 0   #FFFFFF,
              0    1px 0   #FFFFFF,
             -1px -0   0   #FFFFFF,
              1px -0   0   #FFFFFF,
             -1px  0   0   #FFFFFF,
              1px  0   0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">3 жас</a></li>
            <li><a href="{% url 'smarket'%}" style="font-family: 'KZ Cooper';font-weight: bold;
              color: #00750D;
              text-shadow: 
              -0   -1px 0   #FFFFFF,
              0   -1px 0   #FFFFFF,
             -0    1px 0   #FFFFFF,
              0    1px 0   #FFFFFF,
             -1px -0   0   #FFFFFF,
              1px -0   0   #FFFFFF,
             -1px  0   0   #FFFFFF,
              1px  0   0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">4 жас</a></li>
            <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
              color: #00750D;
              text-shadow: 
              -0   -1px 0   #FFFFFF,
              0   -1px 0   #FFFFFF,
             -0    1px 0   #FFFFFF,
              0    1px 0   #FFFFFF,
             -1px -0   0   #FFFFFF,
              1px -0   0   #FFFFFF,
             -1px  0   0   #FFFFFF,
              1px  0   0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">5 жас</a></li>
            <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
              color: #00750D;
              text-shadow: 
              -0   -1px 0   #FFFFFF,
              0   -1px 0   #FFFFFF,
             -0    1px 0   #FFFFFF,
              0    1px 0   #FFFFFF,
             -1px -0   0   #FFFFFF,
              1px -0   0   #FFFFFF,
             -1px  0   0   #FFFFFF,
              1px  0   0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">6 жас</a></li>
            <li><a href="{% url 'paint' %}" style="font-family: 'KZ Cooper';font-weight: bold;
              color: #00750D;
              text-shadow: 
              -0   -1px 0   #FFFFFF,
              0   -1px 0   #FFFFFF,
             -0    1px 0   #FFFFFF,
              0    1px 0   #FFFFFF,
             -1px -0   0   #FFFFFF,
              1px -0   0   #FFFFFF,
             -1px  0   0   #FFFFFF,
              1px  0   0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">Сурет салу</a></li>
            <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
              color: #00750D;
              text-shadow: 
              -0   -1px 0   #FFFFFF,
              0   -1px 0   #FFFFFF,
             -0    1px 0   #FFFFFF,
              0    1px 0   #FFFFFF,
             -1px -0   0   #FFFFFF,
              1px -0   0   #FFFFFF,
             -1px  0   0   #FFFFFF,
              1px  0   0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">Жаңалық</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
          <li><a href="#" style="font-family: 'KZ Cooper';font-weight: bold;
            color: #00750D;
            text-shadow: 
            -0   -1px 0   #FFFFFF,
            0   -1px 0   #FFFFFF,
           -0    1px 0   #FFFFFF,
            0    1px 0   #FFFFFF,
           -1px -0   0   #FFFFFF,
            1px -0   0   #FFFFFF,
           -1px  0   0   #FFFFFF,
            1px  0   0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF;"><img src="{% static 'img/1002.svg' %}" style="position:relative;width:70px;height:70px;"><br>{{ user.get_username }}</a></li>
          <li><a href="{% url 'logout'%}?next={{request.path}}" style="font-family: 'KZ Cooper';font-weight: bold;
            color: #00750D;
            text-shadow: 
            -0   -1px 0   #FFFFFF,
            0   -1px 0   #FFFFFF,
           -0    1px 0   #FFFFFF,
            0    1px 0   #FFFFFF,
           -1px -0   0   #FFFFFF,
            1px -0   0   #FFFFFF,
           -1px  0   0   #FFFFFF,
            1px  0   0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF;"><img src="{% static 'img/1003.svg' %}" style="margin-left:35px;margin:5px;width:59px;height:59px;position:relative;"><br>Шығу</a></li>
          <li><a href="{% url 'addnew' %}" style="font-family: 'KZ Cooper';font-weight: bold;
            color: #00750D;
            text-shadow: 
            -0   -1px 0   #FFFFFF,
            0   -1px 0   #FFFFFF,
           -0    1px 0   #FFFFFF,
            0    1px 0   #FFFFFF,
           -1px -0   0   #FFFFFF,
            1px -0   0   #FFFFFF,
           -1px  0   0   #FFFFFF,
            1px  0   0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF,
           -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
           -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF;"><img src="{% static 'img/1001.svg' %}" style="margin:5px;width:59px;height:59px;position:relative;"><br>КУРСТАРЫМ</a></li>
            <li><a href="#" style="font-family: 'KZ Cooper';font-weight: bold;
              color: #00750D;
              text-shadow: 
              -0   -1px 0   #FFFFFF,
              0   -1px 0   #FFFFFF,
             -0    1px 0   #FFFFFF,
              0    1px 0   #FFFFFF,
             -1px -0   0   #FFFFFF,
              1px -0   0   #FFFFFF,
             -1px  0   0   #FFFFFF,
              1px  0   0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF,
             -1px -1px 0   #FFFFFF,
              1px -1px 0   #FFFFFF,
             -1px  1px 0   #FFFFFF,
              1px  1px 0   #FFFFFF;"><img src="{% static 'img/1007.svg' %}" style="margin:5px;width:59px;height:59px;position:relative;"><br>ОҚУШЫЛАРЫМ</a>
              <ul>
                <li><a href="{% url 'children' %}" style="font-family: 'KZ Cooper';font-weight: bold;
                  color: #00750D;
                  text-shadow: 
                  -0   -1px 0   #FFFFFF,
                  0   -1px 0   #FFFFFF,
                 -0    1px 0   #FFFFFF,
                  0    1px 0   #FFFFFF,
                 -1px -0   0   #FFFFFF,
                  1px -0   0   #FFFFFF,
                 -1px  0   0   #FFFFFF,
                  1px  0   0   #FFFFFF,
                 -1px -1px 0   #FFFFFF,
                  1px -1px 0   #FFFFFF,
                 -1px  1px 0   #FFFFFF,
                  1px  1px 0   #FFFFFF,
                 -1px -1px 0   #FFFFFF,
                  1px -1px 0   #FFFFFF,
                 -1px  1px 0   #FFFFFF,
                  1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">3 жас</a></li>
                <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
                  color: #00750D;
                  text-shadow: 
                  -0   -1px 0   #FFFFFF,
                  0   -1px 0   #FFFFFF,
                 -0    1px 0   #FFFFFF,
                  0    1px 0   #FFFFFF,
                 -1px -0   0   #FFFFFF,
                  1px -0   0   #FFFFFF,
                 -1px  0   0   #FFFFFF,
                  1px  0   0   #FFFFFF,
                 -1px -1px 0   #FFFFFF,
                  1px -1px 0   #FFFFFF,
                 -1px  1px 0   #FFFFFF,
                  1px  1px 0   #FFFFFF,
                 -1px -1px 0   #FFFFFF,
                  1px -1px 0   #FFFFFF,
                 -1px  1px 0   #FFFFFF,
                  1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">4 жас</a></li>
                <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
                  color: #00750D;
                  text-shadow: 
                  -0   -1px 0   #FFFFFF,
                  0   -1px 0   #FFFFFF,
                 -0    1px 0   #FFFFFF,
                  0    1px 0   #FFFFFF,
                 -1px -0   0   #FFFFFF,
                  1px -0   0   #FFFFFF,
                 -1px  0   0   #FFFFFF,
                  1px  0   0   #FFFFFF,
                 -1px -1px 0   #FFFFFF,
                  1px -1px 0   #FFFFFF,
                 -1px  1px 0   #FFFFFF,
                  1px  1px 0   #FFFFFF,
                 -1px -1px 0   #FFFFFF,
                  1px -1px 0   #FFFFFF,
                 -1px  1px 0   #FFFFFF,
                  1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">5 жас</a></li>
                <li><a href="" style="font-family: 'KZ Cooper';font-weight: bold;
                  color: #00750D;
                  text-shadow: 
                  -0   -1px 0   #FFFFFF,
                  0   -1px 0   #FFFFFF,
                 -0    1px 0   #FFFFFF,
                  0    1px 0   #FFFFFF,
                 -1px -0   0   #FFFFFF,
                  1px -0   0   #FFFFFF,
                 -1px  0   0   #FFFFFF,
                  1px  0   0   #FFFFFF,
                 -1px -1px 0   #FFFFFF,
                  1px -1px 0   #FFFFFF,
                 -1px  1px 0   #FFFFFF,
                  1px  1px 0   #FFFFFF,
                 -1px -1px 0   #FFFFFF,
                  1px -1px 0   #FFFFFF,
                 -1px  1px 0   #FFFFFF,
                  1px  1px 0   #FFFFFF;"><img src="{% static 'img/1005.svg' %}" style="width:39px;height:39px;">6 жас</a></li>
              </ul>
            </li>
        {% else %}
        <li><a href="{% url 'login' %}?next={{request.path}}" style="font-family: 'KZ Cooper';font-weight: bold;
          color: #00750D;
          text-shadow: 
          -0   -1px 0   #FFFFFF,
          0   -1px 0   #FFFFFF,
         -0    1px 0   #FFFFFF,
          0    1px 0   #FFFFFF,
         -1px -0   0   #FFFFFF,
          1px -0   0   #FFFFFF,
         -1px  0   0   #FFFFFF,
          1px  0   0   #FFFFFF,
         -1px -1px 0   #FFFFFF,
          1px -1px 0   #FFFFFF,
         -1px  1px 0   #FFFFFF,
          1px  1px 0   #FFFFFF,
         -1px -1px 0   #FFFFFF,
          1px -1px 0   #FFFFFF,
         -1px  1px 0   #FFFFFF,
          1px  1px 0   #FFFFFF;"><img src="{% static 'img/789.svg' %}" style="position:relative;width:54px;height:54px;"><br>Кіру</a></li>
        <li><a href="{% url 'register' %}" style="font-family: 'KZ Cooper';font-weight: bold;
          color: #00750D;
          text-shadow: 
          -0   -1px 0   #FFFFFF,
          0   -1px 0   #FFFFFF,
         -0    1px 0   #FFFFFF,
          0    1px 0   #FFFFFF,
         -1px -0   0   #FFFFFF,
          1px -0   0   #FFFFFF,
         -1px  0   0   #FFFFFF,
          1px  0   0   #FFFFFF,
         -1px -1px 0   #FFFFFF,
          1px -1px 0   #FFFFFF,
         -1px  1px 0   #FFFFFF,
          1px  1px 0   #FFFFFF,
         -1px -1px 0   #FFFFFF,
          1px -1px 0   #FFFFFF,
         -1px  1px 0   #FFFFFF,
          1px  1px 0   #FFFFFF;"><img src="{% static 'img/999.svg' %}" style="position:relative;width:60px;height:60px;"><br>Тіркелу</a></li>
        {% endif %}
      </ul>
    </nav>
    

    
  </section>


    <!-- Navigation -->
 
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5" style="font-family: 'KZ Cooper';font-weight: bold;
                color: #00750D;
                text-shadow: 
                -0   -1px 0   #FFFFFF,
                0   -1px 0   #FFFFFF,
               -0    1px 0   #FFFFFF,
                0    1px 0   #FFFFFF,
               -1px -0   0   #FFFFFF,
                1px -0   0   #FFFFFF,
               -1px  0   0   #FFFFFF,
                1px  0   0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF,
               -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
               -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF;
                text-transform:uppercase;">Сурет салу алаңы</h1>
                <canvas id="myCanvas" width="1100" height="450" style="border:1px solid black"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <button type="button" class="btn btn-danger" id="deleteButton">ТАЗАРТУ</button>

            </div>
            <div class="col-lg-4 text-center form-group row">
                <label for="selWidth" class="col-sm-2 col-form-label">ҚЫЛҚАЛАМ</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="selWidth" aria-describedby="brush" value="3">
                </div>
            </div>
            <div class="col-lg-4 text-center form-group row">
                <label for="selWidth" class="col-sm-2 col-form-label">ТҮС ТАҢДАУ</label>
                <div class="col-sm-10">
                    <input type="color" class="form-control" id="selColor" aria-describedby="selColor">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-secondary downloadPng">
                    PNG жүктеу
                </button>

                <button type="button" class="btn btn-secondary downloadJpg">
                    JPG жүктеу
                </button>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/loadCanvas.js' %}"></script>
</body>

</html>